.note {
    width: 28%;
    background-color: rgb(71, 100, 63);
    border-radius: 8px;
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 40px;
    text-align: center;
    transition: transform 0.125s;
    cursor: pointer;
    padding: 15px 0;
    padding-top: 15px;
    box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.28);
    margin-top: 30px;
    overflow-x: hidden;
    align-self: flex-start;
}

.note:hover {
    transform: scale(1.2);
}

.note:hover .note__icon {
    display: block;
}

.note__icon {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 5px;
    top: 0;
    transition: transform 0.1s;
    display: none;
}

.note__icon:nth-child(2) {
    right: 25px;
}

.note__icon:hover {
    transform: scale(1.2);
}

.note__link {
    color: #fff;
}

.note__link:before {
    content: '';
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}