.tasklist-creator {
    width: 400px;
    height: 100px;
    background: white;
    border: 1px solid lightgrey;
    margin: 3% auto;
    border-radius: 4px;
}

.tasklist-creator__input {
    padding-left: 15px;
    width: 350px;
    border: 0.5px solid lightgrey;
    border-radius: 4px;
    height: 50px;
    box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.1);
    margin-top: 6%;
    margin-left: 5%;
}

.tasklist-creator__input:focus {
    border: 0.5px solid rgb(113, 191, 221);
    box-shadow: 0px 2px 10px 4px rgba(113, 191, 221, 0.3);

}

@media screen and (max-width: 400px) {
    .tasklist-creator {
        width: 360px;
    }

    .tasklist-creator__input {
        width: 310px;
    }
}