.board-list {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

@media screen and (max-width: 950px) {
  .board-list {
    max-width: 95%;
  }
  .board-list div:hover{
    transform: unset;
  }  
}

@media screen and (max-width: 800px) {
  .board-list div{
    width: 47%;
  }  
}

@media screen and (max-width: 490px) {
  .board-list {
    flex-direction: column;
    align-content: center;
  }
  .board-list div{
    width: 85%;
  }  
}