.modal__overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 10001;
    top: 0;
    left: 0;
}

.modal {
    position: absolute;
    width: 50%;
    height: 150px;
    background-color: rgb(87, 173, 207);
    opacity: 1;
    border-radius: 8px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal__input {
    width: 92%;
    min-height: 50px;
    background-color: #fff;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 25px;
    margin-top: 2%;
    margin-left: 2%;
}

.modal__button-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}

.modal__close, .modal__rename{
    color: #fff;
    font-size: 30px;
    border-radius: 6px;
    width: 25%;
}

.modal__rename {
    border: 2px solid #fff;
    transition: transform 0.1s;
    color: rgb(119, 119, 119);
    background-color: #fff;

}

.modal__rename:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1050px) {
    .modal {
        width: 75%;
    }
}
@media screen and (max-width: 650px) {
    .modal {
        height: 120px;
    }
    .modal__rename{
        width: 50%;
    }
}

@media screen and (max-width: 440px) {
    .modal{

        width: 90%;
    }
}
@media screen and (max-width: 350px) {
    .modal__rename{
        margin-left: 15px;
    }
}